*{
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    margin: 0px;
}

body{
    --primary-color: white;
    --accent-color: lightblue;
    --text-color: black;
}

.dark{
    --primary-color: #313131;
    --accent-color: crimson;
    --text-color: white;
    background-color: #313131;
}

.theme-checkbox:checked ~ body{
    --primary-color: #313131;
    --accent-color: crimson;
    --text-color: white; 
}

.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.toolbar{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
    border: 2px solid gray;
    background-color: var(--accent-color);
    color: var(--text-color);
}

.text-div{
    flex: 1;
    /* border: 1px solid crimson; */
    background-color: var(--primary-color);
    color: var(--text-color);
}

.text-div{
    margin-top: 10px;
    margin-left : 200px;
    margin-right: 200px;
}

#text-div:focus {
    outline-style: solid;
    outline-color: gray;
}

@media (max-width: 992px) { 
    .text-div{
        margin-top: 1px;
        margin-left : 10px;
        margin-right: 10px;
    }

    #text-div:focus {
        outline: none;
    }
}